html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 0.95rem;
}

h1 {
	font-size: 3.2rem;
}

p, a {
	font-weight: 500;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/* custom bootstrap */

.navbar-brand,
.nav-link,
.btn {
	font-size: 0.95rem !important;
	color: #000 !important;
}

.bg-light {
	background-color: #fff !important;
}

.nav-link {
	padding-left: 2rem !important;
	padding-right: 2rem !important;
}

.btn {
	border-radius: 30px;
	padding: auto 0 !important;
}

.btn.btn-primary {
	width: 125px !important;
	border-width: 2px;
	background: #4A69BB;
	border-color: #4A69BB;
	color: #fff !important;
}

.btn.btn-primary:hover {
	background: transparent;
	border-color: #4A69BB;
	color: #000 !important;
}

.btn.btn-secondary {
	width: 300px !important;
	border-width: 2px;
	background: #4A69BB;
	border-color: #4A69BB;
	color: #fff !important;
}

.btn.btn-secondary:hover {
	background: transparent;
	border-color: #4A69BB;
	color: #000 !important;
}

/* header  */

.menu-bar {
	margin-left: auto;
	margin-right: auto;
}

.signup-bar li:last-child .nav-link {
	margin: auto 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* home */

.home-container {	
	width: 80%;
}

/* about */

.about-container {
	padding: 2rem;
	width: 60%;
	height: 50%;
}

.about-container h5 {
	color: #4A69BB;
}

.about-container h1 {
	margin-bottom: 5rem;
}

/* timeline */

.timeline-container {
	margin: 7.5rem auto;
	padding: 2rem;
	width: 60%;
	height: 50%;
}

.timeline-container h1 {
	margin-bottom: 5rem;
}

/* guidelines */

.guideline-container {
	margin-top: 3rem;
	width: 75%;
}

.guideline-container h1 {
	margin-bottom: 2rem;
}

.guideline-container .nav .nav-link {
	color: #7070704D !important;
	font-size: 3rem !important;
}

.guideline-container .nav .active {
	color: #4A69BB80 !important;
	font-size: 3rem !important;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-weight: bold;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

/* prize */

.prize-container {
	margin: 3.5rem auto 0;
	width: 60%;
	height: 75%;
}

.prize-container h1 {
	margin-bottom: 2rem;
}

.prize-container p {
	margin-top: 1rem;
	color: #4A69BB;
}

.prize-card {
	padding: 85px 0;
	width: 300px;
	height: 300px;
	text-align: center;
	border: 1px solid #4A69BB;
	color: #4A69BB;
}

/* footer */

footer {
	padding: 0 5rem 5rem;
	height: 75vh;
}

footer hr {
	margin-bottom: 10rem;	
	border-top: 1px solid #707070;
}

footer ul {
	padding-left: 0;
	list-style-type: none;
}

@media only screen and (max-width: 1200px) {
	body {
	  	font-size: 0.75rem;
	}

	h1,  .guideline-container .nav .nav-link, .guideline-container .nav .active {
		font-size: 2rem !important;
	}

	.nav-link {
		padding-left: 0.5rem !important;
		padding-right: 0.5rem !important;
	}

	.home-container {
		text-align: center;
	}
  }
