html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 0.95rem;
}

h1 {
	font-size: 3.5rem;
}

p, a {
	font-weight: 500;
}

section {
	padding: 5rem;
	height: 100vh;
}

/* custom bootstrap */

.navbar-brand,
.nav-link,
.btn {
	font-size: 0.95rem !important;
	color: #000 !important;
}

.bg-light {
	background-color: #fff !important;
}

.nav-link {
	padding-left: 2rem !important;
	padding-right: 2rem !important;
}

.btn {
	border-radius: 30px;
	padding: auto 0 !important;
}

.btn.btn-primary {
	width: 125px !important;
	border-width: 2px;
	background: #4A69BB;
	border-color: #4A69BB;
	color: #fff !important;
}

.btn.btn-primary:hover {
	background: transparent;
	border-color: #4A69BB;
	color: #000 !important;
}

/* header  */

.menu-bar {
	margin-left: auto;
	margin-right: auto;
}

.signup-bar li:last-child .nav-link {
	margin: auto 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* home */

.home-container {
	margin: 5rem;
	width: 80%;
}

/* about */

.about-container {
	margin: 7.5rem auto;
	padding: 2rem;
	width: 60%;
	height: 50%;
}

.about-container h5 {
	color: #4A69BB;
}

.about-container h1 {
	margin-bottom: 5rem;
}

/* footer */

footer {
	padding: 0 5rem 5rem;
	height: 75vh;
}

footer hr {
	margin-bottom: 10rem;	
	border-top: 1px solid #707070;
}

footer ul {
	padding-left: 0;
	list-style-type: none;
}
